<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        colors="true"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        cacheDirectory=".phpunit.cache"
        displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
      <testsuite name="Unit Test Suite">
        <directory>./tests/Unit</directory>
      </testsuite>
      <testsuite name="Functional Test Suite">
        <directory>./tests/Functional</directory>
      </testsuite>
    </testsuites>
    <source>
      <include>
        <directory suffix=".php">./src</directory>
      </include>
    </source>
  </phpunit>